.film-news .btn-warning{
	float:right;
	margin-bottom:30px;
}
h2{
	font-size: 2.5rem;
    font-family: "PT Serif", serif;
    margin: 50px 0 40px 40px;

    &::before{
    	content: "";
    	position: absolute;
    	width: 25px;
    	border-top: 3px solid rgba(240, 173, 78, 0.9);
    	left: 0;
    	margin: 0.25em 0 0 0;
    }

    &::after{
    	content: "";
    	position: absolute;
    	width: 100%;
    	border-bottom: 3px solid rgba(240, 173, 78, 0.9);
    	margin: 0.85em 0 0 15px;
    }
}

.top-week{
	overflow: hidden;
	position: relative;
}
.new-films .row, .top-week .row{
	    margin-right: -7.5px;
    margin-left: -7.5px;

}
.film-news{
	overflow: hidden;
	position: relative;
}


.film-item:hover{
    h3 a {
        color:#df8a13;
        transition:  color 0.25s ease;
    }
    .thumbnail{
        background-color: #df8a13;
        transition:  background-color 0.25s ease;
    }
    .btn-warning{
        background-color: #df8a13;
        color: #fff;
        transition:  background-color 0.25s ease;
    }
}
